{% extends 'base.html' %}
{% load static %}
  
{% block body %}


<div class="container">
<div class="row  p-5 m-5">


    <p  class="col-4 ml-0 p-0">
       
      <font style="font-weight: 500;">India's Beloved  
        Bike-Ride Sharing Service  
        We are not an option, we are a choice!!</font> 
      <br>
      <br>
        We're #1 choice of 10 Million people
         because we're the solution of India's intra-city commuting problems. With assured safety, we also provide accurately calculated prices for rides, which make both the rider and passenger happy.
        
       

    </p>


    <img class="col-7  rounded-4" src="{% static 'images/about2.jpg' %}"  style="margin-right: 0%;" alt="My image"/>



</div>


<div class="row  p-5 m-5 align-middle ">
    <div class="col-6 mr-5 align-items-center offset-0" style="display: flex;">

        <img  src="{% static 'images/about1.jpg' %}" class="pb-4  rounded-4" style="margin-left: 0%;  width: 90%; " alt="My image"/>
    </div>
    

  
       
     <span  class="col-4 ml-0 ml-5 offset-1">
         <ul  >
       <li>
          <div><img src="{% static 'images/listimage1.png' %}"  style="width: 80px;  height: 80px;" class=" rounded-4"  alt=""></div>
        <div>10000 + Rides served every year </div>  
        </li>

        <li>
            <div><img src="{% static 'images/listimage2.jpg' %}"  style="width: 80px;  height: 80px;" class=" rounded-4"  alt=""></div>
          <div>Rides booked in 50 + cities in India </div>  
          </li>

          <li>
            <div><img src="{% static 'images/listimage3.png' %}"  style="width: 80px;  height: 80px;"  class=" rounded-4" alt=""></div>
          <div>Ride transactions worth Rs 10 lakhs completed so far. </div>  
          </li>

          <li>
            <div><img src="{% static 'images/listimage1.png' %}"  style="width: 80px;  height: 80px;"  class=" rounded-4" alt=""></div>
          <div>A dedicated team of 35 employees striving to make the service more experiential </div>  
          </li>


        </ul>
     
    </span>
        
       

  


    



</div>
</div>










{% endblock body %}