

{% extends 'base.html' %}

{% block body %}

<div  class="container"  style="max-width: 80%;">
<div class="clearfix">
  <div class="container  mt-5 ">
    <div id="carouselExample" class="carousel slide" style="max-width: fit-content;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static\images\bike1.jpg" class="d-block w-100  rounded-4"   >
        </div>
        <div class="carousel-item">
          <img src="static\images\bike2.jpg." class="d-block w-100 rounded-4" >
        </div>
        <div class="carousel-item">
          <img src="static\images\bike3.jpg" class="d-block w-100 rounded-4" >
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr>
    </div>
    

  <p class="mt-5" style="font-size:30px; line-height: 60px;">
    Traffic congestion costs 1.47 lakh crore per annum for India according a study in 2018 by Boston Consulting Group (BCG). The same is the situation in most of the developed hubs across the world.
    Traffic issues cause so much inconvenience and frustration and hence need to be addressed. While public transport is the most natural solution to this problem , not all cities have a sophisticated and well developed public transport system .
  </p>

  <p style="font-size:30px; line-height: 60px;">
   Hence most of the metropolitian citizens have now turned towards carpooling and other forms of shared transport. BYKE comes into picture right in this space!!
  </p>


  <p style="font-size:30px; line-height: 60px;">
    BYKE is a ride sharing platform specifically designed for bike rides , whereby we try to solve the problem of short commute and reduce the dependency on public transport systems and autos .
    We connect drivers and passengers travelling to the same destination, allowing them to share a ride . 
  </p>
</div>
<hr >
</div>

<div class="container  mb-5">

<strong class="m-3 text-center"><h2>How It Works</h2></strong>
  <div class="row mb-4">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1. REGISTER</h5>
          <p class="card-text">Register yourself on BYKE to avail the service.</p>
          <br>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2. LOGIN</h5>
          <p class="card-text">Login into your account as a driver if you wish to offer a ride or as a passenger if you wish to take a ride.</p>
         
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3. ENTER RIDE DETAILS</h5>
          <p class="card-text">Enter starting location , destination , date and time of your travel
           
            
          </p> <br>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" >
          <h5 class="card-title">4 . SEE MATCHING RIDES</h5>
          <p class="card-text">You can now see all matching rides along with the fare which the passenger must pay to the driver at the end of the ride.Happy Journey !!</p>
          
        </div>
      </div>
    </div>
  </div>
<div class="text-center">
  <div class="btn-group mt-5 m-md-5 " style="display:block">
   
    <a href="/register" class="btn btn-primary me-md-3" style="height: 100px; width: 150px;">BOOK A RIDE</a>
   <a href="/register" class="btn btn-primary ms-md-3" style="height: 100px; width: 150px;">OFFER A RIDE</a>
  </div>
</div>
</div>

 


{% endblock body %}
